.dropDown-container {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    padding: 0 100px;
}
.dropDown{
    background: rgba(246, 246, 246, 0.45);
    border-radius: 10px;
    overflow: hidden;

    &-title{
        display: flex;
        justify-content: space-between;
        background: rgba(255, 96, 96, 1);
        cursor: pointer;
        padding: 15px;
        border-radius: 5px;
        h2{
            font-size: 18px;
            color:#fff;
        }
        button{
            background: none;
            border: none;
            color:#fff;
            .fa-chevron-down{
                font-size: 24px;
                font-weight: 900;
            }
        }
    }
    p{
        margin-top: 10px;
        color:#000;
        line-height: 1.5em;
        padding: 15px;
    }
}
.rotated {
    transform: rotate(180deg); /* Pivote le chevron vers le haut quand l'élément est ouvert */
    transition: transform 0.3s ease;
}